[nosetests]
with-coverage = True
cover-package = sqla_hierarchy

[dburi]
# rename this file to setup.cfg and add here all databases strings
pg-db = user:pass@localhost/db
oracle-db = user:pass@localhost/db
